* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background: #14131A url('../img/bgc.png') center center no-repeat;
    background-size: cover;
    color: #fff;
    padding-top: 20px;
    width: 90%;
}
.venom-fone {
    max-width: 530px;
    width: 45%;
    display: block;
    position: absolute;
    right: 0;
    /* top: 50%;
    transform: translateY(-50%); */
    z-index: 1;
}
.venom-head {
    max-width: 626px;
    width: 40%;
    position: absolute;
    /* top: 20%; */
    right: 0;
    z-index: 2;
}
.logo-link {
    display: inline-block;
    margin-left: 70px;
}
.header {
    display: flex;
    margin-top: 10px;
}
.nav {
    margin-left: 40px;
}
.nav-menu {
    display: flex;
    padding: 10px;
    margin-top: 15px;
}
.nav-menu-link {
    display: flex;
    text-decoration: none;
    margin-right: 30px;
    color: rgba(255, 255, 255, 0.5);
}
li {
    list-style: none;
}
.menu-close {
    display: none;
}
/* 2 section */
h1 {
    /* margin-left: 16%; */
    padding: 35px 0 0 80px;
    color: #fff;
    /* margin-top: 3%; */

}
.section-header {
    padding: 35px 0 0 80px;
    width: 70%;
}
.section-text {
    padding: 40px 0 0 80px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.button-group {
    display: flex;
    align-items: baseline;
}
.button {
    display: flex;
    align-items: center;
    margin-left: 80px;
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
    margin-top: 30px;
    border: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: azure;

}
.button-icon {
    color: #8D0019;
    margin-left: 10px;
    margin-right: 10px;
}

.button-link {
    margin-left: 30px;
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
}

 /* О фильме  */
 /* важности */
.container {
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.col {
    width: 50%;
    /* border: 1px solid red; */
}
.poster-wrraper {
    display: flex;
}

/* Элемменты правая сторона */
.text-head {
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-podhead {
    font-size: 15px;
    margin-bottom: 40px;
    color: rgba(255, 255, 255, 0.8);
}
/* .role-head {
font-weight: bold;
font-size: 16px;
line-height: 140%;
color: #fff;
padding: 7px;
margin-bottom: 90px;
} */
.table-podhead {
margin-top: 30px;
font-size: 13px;
line-height: 120%;
color: rgba(255, 255, 255, 0.8);
margin-top: 50px;
}
.first-row {
    padding-top: 15px;
}

/* видос  */
.trailer {
    margin-top: 60px;
    position: relative;
    width: 356px;
    height: 205px;
}
.video {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* правая сторона */
.poster-about-list-item-title {
    font-weight: bold;
    font-size: 19px;
    line-height: 140%;
    color: #fff;
    margin-bottom: 15px;
    margin-left: 30px;
}
.poster-item {
    margin-left: 30px;
    margin-top: 10px;
    font-size: 13px;
    line-height: 13px;
    color: rgba(255, 255, 255, 0.8);
}
.poster-about-list {
    margin-bottom: 30px;
}
.menu-button {
    display: none;
}
@media (max-width: 1300px) {
    h1 {
        font-size: 24px;
    }
    .section-text {
        font-size: 15px;
    }
}
@media (max-width: 1068px) {
    /* Главная страница  */
    h1 {
        font-size: 22px;
    }
    .section-text {
        font-size: 13px;
    }
    /* Страница о фильме */
    .container {
        flex-direction: column;
        padding-bottom: 5%;
    }
    .col {
        margin-bottom: 5%;
    }
    .poster-wrraper {
        flex-direction: column;
    }
    
.venom-head {
    top: 10%;
}
.poster {
    margin-bottom: 4%;
}
}
@media (max-width: 668px) {
    h1 {
        font-size: 19px;
    }
    .section-text {
        font-size: 13px;
    }
    .venom-head {
        top: 10%;
    }
    .nav-menu {
        position: fixed;
        left: 0;
        top: 0;
        /* margin-top: 0; */
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 8;
        transition: transform 0.2s;
        transform: translateX(100%);
    }
    .nav-menu-item {
        margin-bottom: 2%;
        margin-top: 2%;
        margin-right: 0;
    }
    .nav-menu-link {
       color: #14131a; 
    }
    .nav {
        margin-left: auto;
    }
    .menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border: none;
        background-color: #14131a;
        cursor: pointer;
        color: #fff;
        transform: translateX(100%);
        transition: transform 0.2s;
    }
    .menu-button-text {
        margin-top: 10px;
    }
    .button-group {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .section {
        text-align: center;
    }
    .button-link {
        padding: 20px;
        margin-left: 65px;
    }
    .body {
        background: #14131A url('../img/bgc.png') center center no-repeat;
        background-size: cover;
        color: #fff;
        padding-top: 20px;
        width: 90%;
    }
     .content .trailer {
        max-width: 350px;
        width: 100%;
    }
    .poster {
        width: 100%;
    }
    /* .trailer {
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    .col {
        width: 100%;
    }
    .actors {
        width: 100%;
        }
   
    .menu-close {
        position: fixed;
        right: 25px;
        opacity: 0;
        top: 65px;
        display: flex;
        align-items: center;
        z-index: 10;
        border: none;
        background-color: #fff;
        cursor: pointer;
        transform: translateX(300%);
        transition: transform 0.2s;
        transition-delay: 0.2s;

    }
    .menu-close-text {
        margin-right: 10px;
        }
    .is-active {
        transform: translateX(0%);
        opacity: 1;
    }
}











/* .some-class {
    display: block;
    width: 100px;
    height: 100px;

    margin: 100px;
    padding: 30px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border: 1px solid red;
    border-radius: 2px;

    box-shadow: none;

    font-size: 24px;
    font-family: serif;
    text-decoration: underline;
    color: darkred;

    z-index: 1;
} */